body {
    background-color: hsl(225, 100%, 94%);;
    background-image: url("images/pattern-background-desktop.svg");
    min-height: 100VH;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: hsl(223, 47%, 23%);
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 450px;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2.6em 3em;
    padding-bottom: 2.2em;
}

.content h1 {
    margin: 0;
    font-weight: 900;
    font-size: 26px;
}

.content p{
    color: hsl(224, 23%, 55%);
    margin: 1.2em;
    font-weight: 500;
    line-height: 1.6em;
}


.planCard {
    background-color: hsl(225, 100%, 98%);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.2em 1.5em 1.7em 1.5em;
    border-radius: 10px;
    margin-bottom: 2em;;
}

.planCard a {
    cursor: pointer;
    text-decoration: underline;
    color:hsl(245, 75%, 52%);
    font-weight: 700;
    font-size: 14px;
}

.planCard a:hover {
    color: #746CF0;
    text-decoration: none;
}

.actualPlan {
    width: 80%;
    text-align: left;
    padding: 0.4em 0 0 1.3em;
}

.actualPlan h2 {
    font-size: 16px;
    margin: 0;
    font-weight: 900;
}

.actualPlan p {
    font-size: 16px;
    margin: 0.6em 0 0 0;
    line-height: 1em;
}

button {
    font-size: 15px;
    width: 100%;
    background-color: transparent;
    border:  none;
    text-decoration: none;
    color:hsl(224, 23%, 55%);
    padding: 1.1em;
    font-weight: 900;
    cursor: pointer;
}

button:hover {
    color:hsl(223, 47%, 23%);
}

.paymentButton {
    background-color: hsl(245, 75%, 52%);
    border: none;
    border-radius: 10px;
    color:hsl(225, 100%, 94%);
    box-shadow: 0 20px 10px  hsl(225, 100%, 94%);
    margin-bottom: 1em;
}

.paymentButton:hover {
    background-color: #746CF0;
    color: white;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Design mobile
@media only screen and (max-width: 1440px) {
    
} */